@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



:root{

    --primarycolor:#FFFFFF;
    --secondarycolor:#EEEEEE;
    --primarytext:#212121;
    --secondarytext:#424242;
}


body {
  font-family: "Karla", sans-serif;
  font-family: "Poppins", sans-serif;
  background: var(--primarycolor);
  color: var(--primarytext);
  
}

* ::-webkit-scrollbar {
  display: none;
}




