@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}


:root{

  --primarycolor:#212121;
  --secondarycolor:#424242;

  --primarytext:#F5F5F5;
  --secondarytext:#A2A2A2;

  --border:.6rem;

}

body {
  font-family: "Karla", sans-serif;
  font-family: "Poppins", sans-serif;
  background: var(--primarycolor);
  color: var(--primarytext);
  
}

* ::-webkit-scrollbar {
  display: none;
}


.heroImg{

  background-image: url(../assets/heroImg.png);
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

