@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .header-bg {
        background: #00204a; 
        color: white;
        
    }


    
    .linear{

        background: linear-gradient(180deg, transparent, rgba(8, 8, 8, 0.61), #000000);
    }


    .linear-up{

        background: linear-gradient(180deg, transparent, rgba(8, 8, 8, 0.61), #000000);
    }

    
}